LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your_langsmith_api_key
LANGSMITH_PROJECT="Tsundere Chatbot"

OPENAI_API_KEY=your_opentyphoon_api_key
DASHSCOPE_API_KEY=your_dashscope_api_key